<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <!-- get data from backend and update it according to that -->
    <h1>Hey!, <%= dateType %>, <%= advice %></h1>
</body>
</html>